/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}
/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

   .browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
  }
  

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
   /************ MOBILE FIRST **********/
   /***** BODY *****/
   html {
    font-size: 16px;
    scroll-behavior: smooth;
   }

   body {
    color: #242424;
    font-size: 1.75em;
    font-family: 'Roboto', sans-serif;
    text-align: left;
   }

   h2 {
    color:#FF9E9E;
    font-family: 'Domine', serif;
    font-size: 2.25em;
    margin: 64px;
   }

   /***** HEADER *****/

   #home {
    background-color: #453E4F;
    padding-bottom: 72px;
   }

   header {
    background-color: #453E4F;
   }

   header h1 {
    color: #FF9E9E;
    font-family: 'Domine', serif;
    font-size: 3.5em;
    font-weight: 700;
    padding: 72px 0 0 72px;
    margin: 0;
   }

   header h2 {
    color: #FFE8D6;
    font-weight: 400;
   }

   .break-line {
    border-top: 5px solid #FF9E9E;
    width: 50%;
    margin-left: 72px;
   }

   /***** SKILLS *****/
    #skills {
      background-color: #453E4F;
      padding-bottom: 64px;
    }

    #skills h2 {
      color: #FFE8D6;
    }

    #skills h3 {
      color: #FF9E9E;
      font-family: 'Domine', serif;
      font-size: 1.75em;
      margin: 72px;
    }
   /***** LANGUAGES *****/
   .languages p {
    background-color: #E8EFF7;
    border-radius: 50px;
    height: 96px;
    width: 240px;
    display: flex;
    font-size: 1.75em;
    justify-content: center;
    align-items: center;
    margin: 15px;
   }
   .languages {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    margin: 72px;
    }

   #flexbox {
    background-color: #E8EFF7;
    border-radius: 50px;
    height: 96px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
   }

   /***** TECH STACK *****/
   .tech-stack p {
    background-color: #E8EFF7;
    border-radius: 50px;
    height: 96px;
    width: 240px;
    display: flex;
    font-size: 1.75em;
    justify-content: center;
    align-items: center;
    margin: 15px;
   }

   .tech-stack {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    margin: 72px;
   }

   #adobe {
    background-color: #E8EFF7;
    border-radius: 50px;
    height: 96px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
   }

   /***** PROJECTS *****/

   #projects {
    background-color: #FF9E9E;
    padding: 72px 0 10px;
   }

   #projects h2 {
    color: #453E4F;
    margin-top: 0;
   }

   #projects h3 {
    color: #453E4F;
    font-family: 'Domine', serif;
    font-size: 1.65em;
    font-weight: 700;
    margin: 40px 72px;
   }

   #projects p {
    color: #453E4F;
    font-size: 1.45em;
    padding: 20px 72px;
   }

   #projects img {
    border: 7px solid #FFE8D6;
    width: 75%;
    height: auto;
   }

   .project-image {
    display: flex;
    justify-content: center;
   }

   .project-link {
    background-color: #453E4F;
    border-radius: 50px;
    color: #FFE8D6;
    height: 96px;
    width: 240px;
    display: flex;
    font-size: 1.5em;
    justify-content: center;
    align-items: center;
    margin: 0 72px 80px;
   }

   /***** ABOUT *****/

   #about {
    background-color: #FFE8D6;
    padding: 75px 0;
   }

   #about h2 {
    margin-left: 72px;
    padding-top: 55px;
   }

   #about p {
    color: #453E4F;
    font-size: 1.45em;
    margin: 0 72px;
   }

   .about-image {
    display: flex;
    justify-content: center;
   }

   /***** CONTACT *****/

   #contact {
    min-height: 1400px;
    background-color: #453E4F;
    padding-top: 75px;
   }

   #contact h2 {
    color: #FF9E9E;
    margin: 0 72px 72px 72px;
    padding-top: 55px;
   }

   .contact-statement p {
    color: #FFE8D6;
    font-size: 1.45em;
    margin: 0 72px 40px;
   }

   #contact img {
    width: 85%;
    height: auto;
    border: #FFE8D6 solid 7px;
    margin: 75px;
   }

   .contact-image {
    display: flex;
    justify-content: center;
    align-items: center;
   }

   .email a {
    color: #FFE8D6;
    font-size: 1.45em;
    margin: 72px;
   }

   .social-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
   }
  
   .social-icons p {
    font-size: 2.25em;
    margin: 40px;
   }

   .social-icons a {
    color: #FFE8D6;
   }

   /***** NAV *****/

   nav {
    position: sticky;
    bottom: 0;
    background-color: #FDD0D0;
   }

   nav .container {
    width: 90%;
    max-width: 667px;
    margin: 0 auto;
    text-align: center;
    padding: 10px;
   }

   nav .container ul {
    list-style: none;
    padding: 0;
   }

   nav .container ul li {
    display: inline-block;
   }

   nav .container ul li a {
    display: inline-block;
    padding: 10px 20px;
    color: #453E4F;
    text-decoration: none;
    font-size: 1.35em;
   }

   nav .container ul li.active {
    background-color: #FF9E9E;
    border-radius: 50px;
    transition: 0.3 ease background-color;
   }

   nav .container ul li.active a {
    color: #FFE8D6;
   }
  

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media screen and (min-width: 768px) {

/***** HOME *****/

  header h2 {
    width: 75%;
  }

/***** SKILLS *****/
  #skills {
    height: 930px;
  }

/***** ABOUT *****/
  #about img {
    width: 20%;
    height: auto;
  }

}

@media only screen and (min-width:1200px) {

  /***** HOME *****/


  header h2 {
    width: 65%;
  }

  /***** SKILLS *****/
  .languages {
    width: 45%;
  }
  
  .tech-stack {
    width: 45%;
  }

  /***** PROJECTS *****/


  #projects .container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
  }


  #projects article {
    width: 45%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: auto;


/***** ABOUT *****/



  #about .container {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-direction: row;
    flex-wrap: wrap;
  }


  #about article {
    width: 49%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: auto;
  }

  /***** CONTACT *****/


  #contact img {
    width: 60%;
    height: auto;
    margin: 0;
  }

  .contact-statement p {
    font-size: 1.8em;
  }

  #contact .container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  #contact article {
    width: 40%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: auto;
  }

  .social-icons {
    justify-content: flex-start;
    margin-left: 30px;
  }

}



@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

